
<div class="jumbotron">
  <h1 class="display-4">{{ stock.companyName }} ({{ stock.symbol}})</h1>
  <p class="lead"><strong>Latest Price: </strong>${{ stock.latestPrice }} </br>
<strong>Previous Close: </strong>${{ stock.previousClose }} </br>
<strong>Percent Change: </strong>{{ stock.changePercent }}% </br>
<strong>52 Week High: </strong>${{ stock.week52High }} </br>
<strong>52 Week Low: </strong>${{ stock.week52Low }} </br>
<strong>YTD Change: </strong>{{ stock.ytdChange }}% </br>
<strong>Market Cap: </strong>${{ stock.marketCap }} </br>
<strong>Daily Volume: </strong> {{ stock.volume }} </br>
<strong>Average Total Volume: </strong> {{ stock.avgTotalVolume }} </br></p>
  <hr class="my-4">
  <p>Analysis: David told me to buy this stock and now I'm rich AF</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{{!-- <h1> {{ stock.companyName }} ({{ stock.symbol}}) </h1>
<strong>Latest Price: </strong>${{ stock.latestPrice }} </br>
<strong>Previous Close: </strong>${{ stock.previousClose }} </br>
<strong>Percent Change: </strong>{{ stock.changePercent }}% </br>
<strong>52 Week High: </strong>${{ stock.week52High }} </br>
<strong>52 Week Low: </strong>${{ stock.week52Low }} </br>
<strong>YTD Change: </strong>{{ stock.ytdChange }}% </br>
<strong>Market Cap: </strong>${{ stock.marketCap }} </br>
<strong>Daily Volume: </strong> {{ stock.volume }} </br>
<strong>Average Total Volume: </strong> {{ stock.avgTotalVolume }} </br> --}}

{{!-- This will go through and display all key (key) value (this) pairs in the stock variable  --}}
{{!-- {{#each stock}}
    {{@key}} | {{this}}<br/>
{{/each}}; --}}